<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Libraries/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-dark" asp-controller="BankAccount" asp-action="Index">Mini Bank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="BankAccount" asp-action="Index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Bank" asp-action="Deposit">Deposit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Bank" asp-action="Transfer">Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Bank" asp-action="Withdraw">Withdraw</a>
            </li>
        </ul>
        @await Component.InvokeAsync("SignOut")
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            @RenderBody()
        </div>
    </div>
</div>
<footer class="text-center">
    MiniBank app made by Kevin Jose Ordonez Zelaya
</footer>
<script src="~/Libraries/jquery/dist/jquery.min.js"></script>
<script src="~/Libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Libraries/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/Libraries/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>